<head>
  <style>
  </style>
</head>
<div id="<%= dom_id timeblock %>" style="height: <% @height %>px;">

    <p>
    <strong>Task name:</strong>
      <%= timeblock.task_name %>
    </p>
    <p >
      <%= timeblock.taskStartingTime %>
    </p>

    <p>
      <%= timeblock.taskEndingTime %>
    </p>

    <p>
      <strong>Repeat On:</strong>
      <%= timeblock.repeatOnDay %>
    </p>

    <p>
      <%= link_to "Show this timeblock", timeblock %>
    </p>
  
</div>

