<head>
  <style>
    .timeblock {
      /* 100% = breite des ganzen bildschirms, 200px weil 100px margin * 2, 32 * 6 = gap*/
      width: calc((100% - 200px - 32px * 6) / 7); /* Anpassung der Breite um Platz für die Lücken zu schaffen */
      position: absolute;
      margin-left: 15px; 
      background-color: cyan;
      align: center;
    }
  </style>
</head>

  <div id="<%= dom_id(timeblock) %>" class="timeblock" >
    <% if calculate_height(timeblock.taskStartingTime, timeblock.taskEndingTime) < 45%>
      <div style="padding-left: 4px; height: <%= calculate_height(timeblock.taskStartingTime, timeblock.taskEndingTime) %>px">
        <%= timeblock.task_name %> 
        <%= timeblock.taskStartingTime %>
      </div>
    <% else %>
      <div style="padding-left: 4px; height: <%= calculate_height(timeblock.taskStartingTime, timeblock.taskEndingTime) %>px; margin-top: <%= calculate_margin_to_baseline(@smallestValueInArray, timeblock.taskStartingTime) %>">
        <%= timeblock.task_name %> 
        <p style="margin: 0"><%= timeblock.taskStartingTime %> - <%= timeblock.taskEndingTime %> </p>
      </div>
    <% end %>
  </div>
  