<%= form_with(model: journey) do |form| %>
  <% if journey.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(journey.errors.count, "error") %> prohibited this journey from being saved:</h2>

      <ul>
        <% journey.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :reasonnnnn, style: "display: block" %>
    <%= form.text_field :reason %>
  </div>

  <div>
    <%= form.label :timeblocks, style: "display: block" %>
    <% Timeblock.all.each do |timeblock| %>
      <% if current_user == timeblock.user%>
      <div>
        <%= check_box_tag "journey[timeblock_ids][]", timeblock.id, journey.timeblock_ids.include?(timeblock.id) %>
        <%= timeblock.task_name %>
      </div>
      <% end %>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
